.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-text-1 {font-size: 0.875rem; width: auto; margin: 5px auto 5px 0} 

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 32px} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-line-1 {height: 3px; transform-origin: left center 0; margin: 0 auto 60px 0}
.u-section-2 .u-text-1 {width: auto; font-weight: 700; margin: 27px auto 0}
.u-section-2 .u-text-2 {font-weight: 700; margin: 44px 6px 60px}
.u-section-2 .u-icon-1 {height: 64px; width: 64px; margin: 30px 6px 60px}
.u-section-2 .u-line-2 {height: 3px; transform-origin: left center 0; margin: 123px auto 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-text-2 {margin-left: 0; margin-right: 0} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 178px}
.u-section-2 .u-line-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-2 {margin: 30px 6px 0}
.u-section-2 .u-icon-1 {height: 21px; width: 21px; margin: -104px auto 0 40px}
.u-section-2 .u-line-2 {margin-right: initial; margin-left: initial} }.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-text-1 {width: 123px; font-size: 1.125rem; font-weight: 700; margin: 20px auto} 

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 68px}
.u-section-3 .u-text-1 {width: 269px} }.u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-line-1 {height: 3px; transform-origin: left center 0; margin: 0 auto 0 0}
.u-section-4 .u-text-1 {font-weight: 700; margin: 27px 26px 60px} 

@media (max-width: 1199px){ .u-section-4 .u-text-1 {margin-left: 21px; margin-right: 21px} }

@media (max-width: 991px){ .u-section-4 .u-text-1 {margin-left: 16px; margin-right: 16px} }

@media (max-width: 767px){ .u-section-4 .u-text-1 {margin-left: 12px; margin-right: 12px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 291px}
.u-section-4 .u-line-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-text-1 {margin-left: 26px; margin-right: 26px; margin-bottom: 0}
.u-section-4 .u-image-1 {width: 134px; height: 82px; margin: 39px auto 0 26px}
.u-section-4 .u-image-2 {width: 131px; height: 101px; margin: -91px 20px 60px auto} }