.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-text-1 {font-weight: 700; font-size: 1rem; margin: 44px 6px 60px}
.u-section-1 .u-line-1 {height: 3px; transform-origin: left center 0; margin: 123px auto 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-left: 0; margin-right: 0} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 86px}
.u-section-1 .u-text-1 {font-size: 0.875rem; margin: 21px 6px 0}
.u-section-1 .u-line-1 {margin-top: 6px; margin-bottom: 12px; margin-right: initial; margin-left: initial} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-text-1 {width: 123px; font-size: 1.125rem; font-weight: 700; margin: 20px auto} 

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 218px}
.u-section-2 .u-text-1 {width: 149px; margin-bottom: 0}
.u-section-2 .u-image-1 {width: 170px; height: 76px; margin: 23px auto 60px} }.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-line-1 {height: 3px; transform-origin: left center 0; margin: 0 auto 0 0}
.u-section-3 .u-text-1 {font-weight: 700; font-size: 1rem; margin: 27px 26px 60px}
.u-section-3 .u-icon-1 {height: 21px; width: 21px; margin: -26px auto 18px 40px} 

@media (max-width: 1199px){ .u-section-3 .u-text-1 {margin-left: 21px; margin-right: 21px} }

@media (max-width: 991px){ .u-section-3 .u-text-1 {margin-left: 16px; margin-right: 16px} }

@media (max-width: 767px){ .u-section-3 .u-text-1 {margin-left: 12px; margin-right: 12px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 56px}
.u-section-3 .u-line-1 {margin-top: 1px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-1 {width: auto; font-size: 1.125rem; margin: 11px auto 0 62px} }.u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-text-1 {margin-left: 0; margin-right: 0; margin-bottom: 60px} 

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 150px}
.u-section-4 .u-text-1 {margin-left: 9px; margin-right: 9px} }.u-section-5 .u-sheet-1 {min-height: 500px}
.u-section-5 .u-text-1 {font-weight: 700; font-size: 1.125rem; width: auto; margin: 20px auto 60px}
.u-section-5 .u-line-1 {height: 3px; transform-origin: right center 0; margin: -42px auto 0 0}
.u-section-5 .u-icon-1 {height: 21px; width: 21px; margin: 15px auto 60px 120px}
.u-section-5 .u-text-2 {margin: 30px 0 60px} 

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 212px}
.u-section-5 .u-text-1 {margin-top: 19px; margin-bottom: 0}
.u-section-5 .u-line-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-icon-1 {margin-top: 13px; margin-bottom: 0; margin-left: 130px}
.u-section-5 .u-text-2 {margin-left: auto; margin-right: auto} }.u-section-6 .u-sheet-1 {min-height: 500px} 

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 80px}
.u-section-6 .u-custom-html-1 {min-height: 80px; height: auto; margin-top: 0; margin-bottom: 0} }